#################################### SPRING PROFILE ##########################################
SPRING_PROFILE=local/docker/prod

#################################### DATABASE ###########################################
USER_DB_PORT=
USER_DB_USER=
USER_DB_PASSWORD=

##################################### DEFAULT SECURITY ####################################
USER_NAME=
USER_PASSWORD=

##################################### JWT CONFIG ###########################################
JWT_SECRET=
JWT_ACCESS_EXPIRATION_MS=
JWT_REFRESH_EXPIRATION_MS=

################################### RABBITMQ ###########################################
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

#################################### REDIS ############################################
REDIS_PORT=
REDIS_PASSWORD=

##################################### GOOGLE AUTH ###########################################
SPRING_GOOGLE_CLIENT_ID=
SPRING_GOOGLE_CLIENT_SECRET=

###################################### GITHUB AUTH ###########################################
SPRING_GITHUB_CLIENT_ID=
SPRING_GITHUB_CLIENT_SECRET=

###################################### BACKBLAZE B2 ###########################################
B2_ENDPOINT=https://s3.ams5.backblazeb2.com
B2_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET_NAME=
B2_BUCKET_ID=
PUBLIC_CDN_BASE=https://scholarai-papers.s3.ams5.backblazeb2.com